footer{
background:#88c1d0;
position:absolute;
bottom:0;
width:100%;
}

.pics{
background:#88c1d0;
position:absolute;
bottom:0;
width:0%;
}

#conteneur{
  text-align: center;
  vertical-align: middle;
}

.align1{
	align-content:center width="33%";
}
.align2{
	align-content: center;
}

.linky {
	text-decoration: none;
}
